<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.security.jwt.mapper.RoleResourceMapper">

    <select id="getMenuResourceByUserName" resultType="com.security.jwt.po.MenuPo">
        SELECT
        b.id,
        b.name,
        b.level,
        b.parent_id,
        b.sort,
        b.status,
        b.creater
        FROM tb_role_menu a,tb_menu_resource b,tb_user_role c
        WHERE a.menu_resource_id=b.id AND a.role_id=c.role_id AND c.user_name=#{userName}
    </select>

</mapper>